.place-order {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  padding: 20px;
}

.place-order-left,
.place-order-right {
  width: 100%;
  margin-top: 20px;
}

.place-order-left .title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}

.place-order-left input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}

.place-order-left .multi-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.paymentMethod {
  margin-top: 40px;
}

.cod,
.stripe {
  border: 1px solid tomato;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 30px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Selected state */
.selected {
  background-color: tomato;
  color: white;
}

/* Larger screens (min-width: 768px) */
@media (min-width: 768px) {
  .place-order {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
  }

  .place-order-left {
    max-width: 40%;
  }

  .place-order-left .multi-fields {
    flex-direction: row;
  }

  .place-order-right {
    max-width: 40%;
  }

  .cod,
  .stripe {
    width: 30vw;
  }

  
 
}

/* Larger screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .place-order-left .title {
    font-size: 30px;
  }
}
